<ion-view view-title="ANKA ÑAWI" view-color:"0000ff">
  <ion-content class="padding">
    <div class="list card">
        <div class="item">
          <center>
          <img src="img/bomberos200.png" alt=""><br>
            <h2 style="color:#67BBA5"><B>ARTE + TECNOLOGIA + SOCIEDAD = ANKA ÑAWI</B></h2><br>
            <p style="color:#030742"><B>LOS OJOS DE LA MADRE TIERRA</B></p><br><br>
            <button class="button icon-left ion-waterdrop button-balanced" onclick="location.href='#/tab/chats'">REALIZA TU DENUNCIA</button>
          </center>
        </div> 
      </div>
  </ion-content>
</ion-view>
